# Titanic using PyCaret

Import PyCaret and Pandas, and import the titanic dataset into a dataframe. Show the top couple of rows.

In [26]:
#DELETE

import pandas as pd
from pycaret.classification import *

df_with = pd.read_excel('files/titanic3.xlsx', engine='openpyxl')
df_with.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

Remember how having boat and body columns was cheating? Create 2 datasets, one containg boat and body and another one without. This will allow us to compare the results for both.

In [27]:
#DELETE
df_without = df_with.drop(['boat', 'body'], axis=1)

Because we are building two models we won't be able to use the functional api bet we'll have the use the OOP-way. Also make sure to set the session_id to direct the randomness. Lets take 42.

In [43]:
#DELETE
model_with = ClassificationExperiment()
model_without = ClassificationExperiment()

model_with.setup(data=df_with, target='survived', session_id=42)
model_without.setup(data=df_without, target='survived', session_id=42)

Since training takes a bit longer, let's do this in two separate code cells.

In [44]:
#DELETE
best_with = model_with.compare_models()

Initiated  . . . . . . . . . . . . . . . . . .             16:45:19
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

In [45]:
#DELETE
best_without = model_without.compare_models()

Initiated  . . . . . . . . . . . . . . . . . .             16:45:48
Status     . . . . . . . . . . . . . . . . . .      Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

As expected the model without boat and body is worse (accuracy of 0.79 vs 0.95) than the model with. But it's still a good model, better than our own model (which had accuracy 0.77). But the main difference is the amount of work we had to put into it: No splitting data, dropping Na-values, ...

All this is done automatically by PyCaret in the background. What PyCaret also did is feature engineering (filling in Na-values, ...). If we wish we could delve into that and imporve the model, which would be a good idea when you plan on using it in production. We however have a whole new chapter ready for that sort of stuff.

# Using the model

What we will be doing is using the models we created to do a prediction.

In [46]:
random_person_dict = {
    'pclass': 1,
    # 'survived': 0,
    'name': 'John Doe',
    'sex': 'male',
    'age': 35,
    'sibsp': 3, # SibSp is the number of siblings or spouse of a person onboard.
    'parch': 2, # Similar to the SibSp, this feature contained the number of parents or children each passenger was touring with.    
    'ticket': '12586641',
    'fare': df.fare.mean(),
    'cabin': 'C35',
    'embarked': 'S',
    'home.dest': 'New York, NY'
}

random_person = pd.DataFrame(random_person_dict, index=[0])

random_person

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest
0,1,John Doe,male,35,3,2,12586641,33.295479,C35,S,"New York, NY"

With this random person, use the model without boat and body to predict survival.

In [47]:
prediction_without = model_without.predict_model(best_without, data=random_person)
prediction_without

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest,prediction_label,prediction_score
0,1,John Doe,male,35,3,2,12586641,33.295479,C35,S,"New York, NY",0,0.8593

Maybe John Doe better do some [shopping](https://www.decathlon.be/nl/alle-sporten/kajakken/kano-kajak) before leaving.

## Cleanup

PyCaret creates a couple of files in the folder where it is run. You should see "logs.log" and "my_best_pipeline.pkl". You can delete these before moving on.